
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
.login{
    
    background: linear-gradient(#ec9f05, #ff4e00);
    height: 750px;
}

.row{
    background: linear-gradient(#334756, #082032);
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
    
    
}
.img-fluid{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 600px;
}
.login h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Heebo', sans-serif;
    color: #F0A500;
}
.login h5{
    font-size: 0.8rem;
    color: white;
}
.login p{
    font-size: 0.8rem;
    color: white;
}
.login a{
    color: #F0A500;
}
.input-login{
    height:50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
}
.login-btn{
    height: 50px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 700;
    font-size: 15px;
    background: #334756;
    color: #F0A500;
}
.login-btn:hover{
    background: #334780;
}

.fa-google-plus{
    font-size: 2.5rem;
  
    color:white;
    background-color:red;
  
}




@import url(https://fonts.googleapis.com/css?family=Roboto:500);