@use '../custom' as *;
@use '../components/mixins' as *;
.menu {
    
    @include gray_gradient;
    li {
        padding: 0 0.7rem;
        
        a {
            color: $primary !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}

.navbar-brand {
    h1 {
        color: $primary;
    }
}