:root {
    --main-bg-color: #F0A500;
    --main-text-color: #F0A500;
    --second-text-color: #bbbec5;
    --second-bg-color: #334756;
  }
   
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  .bg-task-bar{
    background: linear-gradient(#334756, #082032);
    
  }
  .list-group-item
  {
    color: white;
  }
  .list-group-item:hover
  {
    color: #F0A500;
  }
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #ec9f05,
      #ff4e00
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }

.user-table
{
  display:block;
  height: 450px;
  overflow-y: auto;
}
.product-table
{
  display:block;
  height: 350px;
  overflow-y: auto;
}
.table tr{
  display:block;
  float: left;
}
.table th,td{
  width:200px;
}
.search-control
{
  margin-left: 20px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  table .email
  {
    width:350px;
  }
  table .phone
  {
    width:150px;
  }
  table .status
  {
    width:100px;
  }
  button:hover{
    background: #334780;
}
  .user-btn{
    height: 30px;
    width: 90px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 700;
    font-size: 14px;
    background: #334756;
    color: #F0A500;
  }
  .product-btn{
    height: 30px;
    width: 130px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 700;
    font-size: 14px;
    background: #334756;
    color: #F0A500;
  }
  .add-btn{
    height: 50px;
    width: 160px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 700;
    font-size: 14px;
    background: #334756;
    color: #F0A500;
    margin-left: 470px;
  }
  .view-btn{
    height: 50px;
    width: 160px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 700;
    font-size: 14px;
    background: #334756;
    color: #F0A500;
    margin-left: 30px;
  }